.content{
  height: 1000px;
  padding-top: 0;
  padding-bottom:0;
  overflow: hidden;
  max-width: 100%;
}
body{
background: url('Images/hriman.jpeg') no-repeat center fixed ;
background-size: cover;
}
.slider img{
  height: auto;
  max-width: 100%; 
  min-width: 80%;
}
.container1 {
  width: 80%;
  margin-left: 15px; 
}
.carousel {
  border: 2px solid rgb(162,131,158);
  position: absolute;
  height: 360px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  background: rgba(255,255,255,.7);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
}
.slider {
  display: flex;
  height: 100%;
  width: 400%;
}
.slider section {
  padding: 4px;
  padding-bottom: 30px;
  flex-basis: 100%;
  justify-content: center;
  display: flex;
  font-size: 20px;
}
.left, .right {
  position: absolute;
  top: 96%;
  transform: translateY(-50%);
  cursor: pointer;
}
.arrow i {
  font-size: 20px;
  -webkit-user-select: none;
  color: rgb(162,131,158);
  text-shadow: 1px 1px 1px rgba(255,255,255,.7);
}
.left {
  left: 10px;
}
.right {
  right: 10px;
}
.control{
  background: yellow;
}
.control ul {
  list-style: none;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%);
}
.control ul li {
  width: 10px;
  height: 10px;
  background: #333;
  border: 2px solid #333;
  border-radius:50px;
  margin: 10px;
  cursor: pointer;
}
.control ul li.selected {
  background: rgba(255,255,255,.2);
}
.cardbig{
  margin-right: 10px;
  padding: 10px;
  }
.card{
  width: 400px;
  margin: 5px;
  padding: 10px;
  border: 3px solid rgb(162,131,158);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: black;
  background: rgba(255,255,255,.7);
}
.card p{
  font-size: 15px; 
}
.img-responsive{
  height: auto;
  max-width: 100%;
}
.logo{
  height: 120px;
  max-width: 80%;
  align-content: middle;
}
.logo2{
  margin-left: 120px;
  padding-left: 0px;
}
@media(max-width: 760px){
  .logo{
    max-width: 100%;
    height: 120px;
  }
}
@media(max-width: 600px){
  .logo{
    max-width: 100%;
    height: auto;
  }
} 
@media(max-width: 991px){
  .logo2{
    margin-left:30px;
    padding-left: 0px;
  }
}
@media(max-width: 920px){
  .logo2{
    margin-left:0px;
    padding-left: 0px;
  }
}
@media(max-width: 1198px){
  .card2{
    margin-left: 30px;
  }
}
@media(max-width: 970px){
  .card2{
    margin-left: 0px;
  }
}
}
@media(max-width: 600px){
  .card2{
    margin-left: 0px;
  }
}
.toggle-nav{
	background: white;
}
