/*==================
 HEADER SECTION
====================*/
#eeea-header {
  background-color: #000000;
  display: inline;
  float: left;
  width: 100%;
  padding-left: 10px;
  padding-right:10px;
}
#eeea-header .eeea-header-area {
  display: inline;
  float: left;
  padding: 10px 0;
  width: 100%;
}
#eeea-header .eeea-header-area .eeea-header-top-left {
  display: inline;
  float: left;
  width: 100%;
}
#eeea-header .eeea-header-area .eeea-header-top-left .mu-top-email {
  color: white;
  display: inline;
  float: left;
  font-size: 14px;
}
#eeea-header .eeea-header-area .eeea-header-top-left .mu-top-email i {
  margin-right: 5px;
}
#eeea-header .eeea-header-area .eeea-header-top-left .mu-top-phone {
  border-left: 1px solid #ddd;
  color: white;
  display: inline;
  font-size: 14px;
  float: left;
  margin-left: 15px;
  padding-left: 15px;
}
#eeea-header .eeea-header-area .eeea-header-top-left .mu-top-phone i {
  margin-right: 5px;
}
#eeea-header .eeea-header-area .eeea-header-top-right {
  display: inline;
  float: left;
  text-align: right;
  width: 100%;
}
#eeea-header .eeea-header-area .eeea-header-top-right .mu-top-social-nav {
  display: inline-block;
}
#eeea-header .eeea-header-area .eeea-header-top-right .mu-top-social-nav li {
  display: inline-block;
}
#eeea-header .eeea-header-area .eeea-header-top-right .mu-top-social-nav li a {
  color:white;
  display: inline-block;
  font-size: 14px;
  padding: 0 8px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}


.content{
  height: 1000px;
  padding-top: 0;
  padding-bottom:0;
  overflow: hidden;
  max-width: 100%;
}
body{
background: url('Images/overlay.png');
  font-family: "Roboto", sans-serif;
  color: #333333;
  overflow-x: hidden;
  margin: auto;
}
.slider img{
  height: auto;
  max-width: 100%; 
  min-width: 80%;
}
.container1 {
  width: 80%;
  margin-left: 15px; 
}
.carousel {
  border: 2px solid rgb(162,131,158);
  position: absolute;
  height: 360px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  background: rgba(255,255,255,.7);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
}
.slider {
  display: flex;
  height: 100%;
  width: 400%;
}
.slider section {
  padding: 4px;
  padding-bottom: 30px;
  flex-basis: 100%;
  justify-content: center;
  display: flex;
  font-size: 20px;
}
.left, .right {
  position: absolute;
  top: 96%;
  transform: translateY(-50%);
  cursor: pointer;
}
.arrow i {
  font-size: 20px;
  -webkit-user-select: none;
  color: rgb(162,131,158);
  text-shadow: 1px 1px 1px rgba(255,255,255,.7);
}
.left {
  left: 10px;
}
.right {
  right: 10px;
}
.control{
  background: yellow;
}
.control ul {
  list-style: none;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%);
}
.control ul li {
  width: 10px;
  height: 10px;
  background: #333;
  border: 2px solid #333;
  border-radius:50px;
  margin: 10px;
  cursor: pointer;
}
.control ul li.selected {
  background: rgba(255,255,255,.2);
}
.cardbig{
  margin-right: 10px;
  padding: 10px;
  }
.card{
  width: 400px;
  margin: 5px;
  padding: 10px;
  border: 3px solid rgb(162,131,158);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: black;
  background: rgba(255,255,255,.7);
  display:block;
  margin:auto;
}
.card p{
  font-size: 15px; 
}
.img-responsive{
  height: auto;
  max-width: 100%;
}
.logo{
  vertical-align: middle;
  max-width: 60%;
  align-content: middle;
}
.logo2{
  max-width:51%;
  margin-left: 120px;
  padding-left: 0px;
}



/*responsive*/
@media(max-width: 760px){
 
 #eeea-footer .eeea-footer-top .eeea-footer-top-area .eeea-footer-widget {
    margin-bottom: 30px;
	padding-left:15px;
  }
 #eeea-footer .eeea-footer-top .eeea-footer-top-area .eeea-footer-widget .mu-subscribe-form input[type="email"] {
    width: 30%;
    margin-right: 10px;
  }

}
@media(max-width: 600px){
	#eeea-header .eeea-header-area .eeea-header-top-left .mu-top-phone {
    display: none;
    }
  .logo{
    max-width: 100%;
  }
} 
@media(max-width: 480px) {
	  #eeea-header .mu-header-area .mu-header-top-left .mu-top-email {
    font-size: 12px;
    margin-top: 3px;
  }

  #eeea-header .mu-header-area .mu-header-top-left .mu-top-email i {
    margin-right: 0;
  }

  #eeea-header .mu-header-area .mu-header-top-right .mu-top-social-nav li a {
    font-size: 12px;
    padding: 0 5px;
  }
   #eeea-footer .eeea-footer-top .eeea-footer-top-area .eeea-footer-widget .mu-subscribe-form input[type="email"] {
    margin-right: 0;
    width: 100%;
  }
}
@media(max-width: 360px){
	  #eeea-footer .eeea-footer-top {
    padding: 50px 0 10px;
  }
}
@media(max-width: 991px){
  .logo2{
    margin-left:30px;
    padding-left: 0px;
  }
}
@media(max-width: 920px){
  .logo2{
    margin-left:0px;
    padding-left: 0px;
  }
}
@media(max-width: 1198px){
  .card2{
    margin-left: 30px;
  }
}
@media(max-width: 970px){
  .card2{
    margin-left: 0px;
  }
}
}
@media(max-width: 600px){
  .card2{
    margin-left: 0px;
  }
}
.toggle-nav{
	background: white;
}




/*==================
 FOOTER
====================*/
#eeea-footer {
  display: inline;
  float: left;
  width: 100%;
}
#eeea-footer .eeea-footer-top {
  background-color: #333;
  display: inline;
  float: left;
  padding: 50px 0;
  width: 100%;
}
#eeea-footer .eeea-footer-top .eeea-footer-top-area {
  display: inline;
  float: left;
  width: 100%;
}
#eeea-footer .eeea-footer-top .eeea-footer-top-area .eeea-footer-widget {
  display: inline;
  float: left;
  width: 100%;
}
#eeea-footer .eeea-footer-top .eeea-footer-top-area .eeea-footer-widget h4 {
  color: #fff;
  margin-bottom: 15px;
  text-transform: uppercase;
}
#eeea-footer .eeea-footer-top .eeea-footer-top-area .eeea-footer-widget ul li a {
  color: #f9f9f9;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  padding: 5px 0 5px 15px;
  position: relative;
  text-transform: capitalize;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#eeea-footer .eeea-footer-top .eeea-footer-top-area .eeea-footer-widget ul li a:before {
  content: "\f101";
  font-family: FontAwesome;
  left: 0;
  position: absolute;
  top: 5px;
}
#eeea-footer .eeea-footer-top .eeea-footer-top-area .eeea-footer-widget ul li a:hover, #eeea-footer .eeea-footer-top .eeea-footer-top-area .eeea-footer-widget ul li a:focus {
  margin-left: 5px;
}
#eeea-footer .eeea-footer-top .eeea-footer-top-area .eeea-footer-widget p {
  color: #f9f9f9;
}
#eeea-footer .eeea-footer-top .eeea-footer-top-area .eeea-footer-widget .mu-subscribe-form {
  display: inline;
  float: left;
  margin-top: 10px;
  width: 100%;
}
#eeea-footer .eeea-footer-top .eeea-footer-top-area .eeea-footer-widget .mu-subscribe-form input[type="email"] {
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #000;
  font-size: 15px;
  height: 35px;
  margin-bottom: 20px;
  padding: 5px;
  width: 100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#eeea-footer .eeea-footer-top .eeea-footer-top-area .eeea-footer-widget .mu-subscribe-form .mu-subscribe-btn {
  color: #fff;
  border: medium none;
  border-radius: 4px;
  font-size: 14px;
  letter-spacing: 0.5px;
  padding: 5px 10px;
}
#eeea-footer .eeea-footer-top .eeea-footer-top-area .eeea-footer-widget address p {
  font-weight: lighter;
  letter-spacing: 0.5px;
}
#eeea-footer .eeea-footer-bottom {
  background-color: #222;
  display: inline;
  float: left;
  padding: 25px 0;
  width: 100%;
}
#eeea-footer .eeea-footer-bottom .eeea-footer-bottom-area {
  display: inline;
  float: left;
  text-align: center;
  width: 100%;
}
#eeea-footer .eeea-footer-bottom .eeea-footer-bottom-area p {
  color: #fff;
  margin-bottom: 0;
  letter-spacing: 0.3px;
}
#eeea-footer .eeea-footer-bottom .eeea-footer-bottom-area p a {
  color: #fff;
}
